.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  font-weight: 200;
  color: #1755e7;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.button-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.button-special-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  transform-origin: right;
  transition: transform 0.3s;
  transform: scaleX(0);
  z-index: -1;
}
.button-special-animation:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (min-width: 500px) {
  .section-heading {
    font-size: 4.2rem;
  }
}
@media (min-width: 1000px) {
  .section-heading {
    font-size: 4.8rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav .burger-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.nav .burger-button__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav .burger-button__bar, .nav .burger-button__bar::before, .nav .burger-button__bar::after {
  right: 0;
  position: absolute;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s;
}
.nav .burger-button__bar::before, .nav .burger-button__bar::after {
  content: "";
}
.nav .burger-button__bar {
  display: inline-block;
  top: 0;
  width: 100%;
  transition: width 0.3s;
}
.nav .burger-button__bar::before {
  top: 13px;
  width: 60%;
}
.nav .burger-button__bar::after {
  top: 27px;
  width: 30%;
}
.nav .burger-button:hover .burger-button__bar::before, .nav .burger-button:hover .burger-button__bar::after {
  width: 100%;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100dvh;
  transform: translateX(100%);
  background: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  transition: transform ease-in-out 0.4s;
  z-index: 100;
}
.nav__link {
  display: block;
  width: 200px;
  position: relative;
  text-decoration: none;
  font-weight: 200;
  font-size: 2.8rem;
  padding: 1em;
  color: white;
  text-align: center;
}
.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scale(0);
  transition: transform 0.3s;
  background-color: #fff;
}
.nav__link:hover::before {
  transform: scale(1);
}
.nav--active .nav__links {
  transform: translateX(0);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/header-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  color: #fff;
}
.header__title {
  font-family: "Dancing Script", sans-serif;
  font-size: 4.6rem;
}
.header__text {
  text-align: center;
  padding: 0 2em;
  font-weight: 200;
  font-size: 1.4rem;
}
.header__button {
  margin-top: 1em;
  padding: 0.8em 1.6em;
  border-radius: 10px;
  font-size: 1.4rem;
  background-color: #fff;
  color: #2e2e2e;
  font-weight: 200;
  cursor: pointer;
}

.main .dreams-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}
.main .dreams-box {
  display: flex;
  flex-direction: column;
}
.main .dreams-box__img {
  width: 100%;
}
.main .dreams-box__title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
}
.main .dreams-box__text {
  font-weight: 200;
  margin-top: 1em;
}
.main .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/hero-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-attachment: fixed;
  padding: 13em 2em;
  overflow: hidden;
  color: #fff;
}
.main .hero-img__title, .main .hero-img__text {
  text-align: center;
}
.main .hero-img__title {
  font-size: 4.8rem;
  font-family: "Dancing Script", sans-serif;
  margin-bottom: 0.5em;
}
.main .hero-img__text {
  font-weight: 200;
  padding: 1em;
}
.main .hero-img hr {
  width: 80%;
}
.main .islands__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin-top: 5em;
}
.main .islands__card {
  position: relative;
  height: 500px;
  width: 100%;
  color: #fff;
  perspective: 1000px;
  text-align: center;
}
.main .islands__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.main .islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url("/img/island1.jpg");
}
.main .islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("/img/island2.jpg");
}
.main .islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75)), url("/img/island3.jpg");
}
.main .islands__card-img-title {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
}
.main .islands__card-img-info {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.main .islands__card-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
  padding: 2em;
  border-radius: 8px;
  opacity: 0;
  transform: rotateY(180deg);
  transition: 1s;
}
.main .islands__card-info-title {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
}
.main .islands__card-info-list {
  padding: 1.5em 0;
  text-align: center;
  list-style: none;
}
.main .islands__card-info-list-item {
  padding: 1em 0;
  border-top: 1px solid #fff;
}
.main .islands__card-info-list-item:nth-child(1) {
  border-top: none;
}
.main .islands__card-info-button {
  width: 100%;
  padding: 0.8em 1.6em;
  border-radius: 10px;
  background-color: #00ffaa;
}
.main .islands__card-info-button::before {
  background-color: #0fe29c;
}
.main .islands__card:hover .islands__card-img {
  opacity: 0;
  transform: rotateY(-180deg);
}
.main .islands__card:hover .islands__card-info {
  opacity: 1;
  transform: rotateY(0);
}

@media (min-width: 500px) {
  .main .dreams-box__title {
    font-size: 2.6rem;
  }
}
@media (min-width: 600px) {
  .main .dreams-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    gap: 2em;
  }
  .main .dreams-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
  }
  .main .dreams-box__img {
    width: 45%;
  }
  .main .dreams-box__img--right {
    order: 1;
  }
  .main .dreams-box__content {
    width: 50%;
  }
  .main .dreams-box__title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
  }
  .main .dreams-box__text {
    font-weight: 200;
    margin-top: 1em;
  }
  .main .dreams-box__text--right, .main .dreams-box__title--right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .main .islands__cards {
    display: flex;
    flex-direction: row;
  }
  .main .islands__card-info-list {
    padding: 2.7em 0;
  }
}
@media (min-width: 800px) {
  .nav__link {
    font-size: 3.6rem;
  }
  .nav .burger-button {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/header-big.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
  .header__title {
    font-size: 7.2rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .header__button {
    font-size: 1.6rem;
  }
}
@media (min-width: 1000px) {
  .main .dreams-box__title {
    font-size: 3.4rem;
  }
  .main .dreams-box__text {
    font-size: 2rem;
  }
  .main .hero-img {
    padding: 30em 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/hero-big.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-attachment: fixed;
  }
  .main .hero-img__title {
    font-size: 8.2rem;
  }
  .main .hero-img__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 1220px) {
  .nav__link {
    font-size: 4.2rem;
  }
  .header__title {
    font-size: 10rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=style.css.map */