@use 'colors';
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 6em 2em;
}

.section-heading {
	font-weight: 200;
	color: colors.$main-color;
	text-align: center;
	font-size: 3.0rem;
	text-transform: uppercase;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: colors.$pure-white;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}

	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}

.button-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: colors.$light-white;
		transform-origin: right;
		transition: transform 0.3s;
		transform: scaleX(0);
		z-index: -1;
	}

	&:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}
}

@media (min-width: 500px) {
	.section-heading {
		font-size: 4.2rem;
	}
}

@media (min-width: 1000px) {
	.section-heading {
		font-size: 4.8rem;
	}
}
