@use 'colors';

@mixin burgerButton {
	position: absolute;
	height: 3px;
	background-color: colors.$pure-white;
}

@mixin heroImages($bgImg) {
	background-image: colors.$blue-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}
