@use 'colors';
@use 'components';
@use 'mixins';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//
// nav
//

.nav {
	.burger-button {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bar,
		&__bar::before,
		&__bar::after {
			right: 0;
			@include mixins.burgerButton;
			transition: width 0.3s;
		}

		&__bar::before,
		&__bar::after {
			content: '';
		}

		&__bar {
			display: inline-block;
			top: 0;
			width: 100%;
			transition: width 0.3s;

			&::before {
				top: 13px;
				width: 60%;
			}

			&::after {
				top: 27px;
				width: 30%;
			}
		}

		&:hover {
			.burger-button__bar {
				&::before,
				&::after {
					width: 100%;
				}
			}
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100dvh;
		transform: translateX(100%);
		background: colors.$blue-gradient-solid;
		transition: transform ease-in-out 0.4s;
		z-index: 100;
	}

	&__link {
		display: block;
		width: 200px;
		position: relative;
		text-decoration: none;
		font-weight: 200;
		font-size: 2.8rem;
		padding: 1em;
		color: white;
		text-align: center;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scale(0);
			transition: transform 0.3s;
			background-color: colors.$pure-white;
		}

		&:hover::before {
			transform: scale(1);
		}
	}

	&--active {
		.nav__links {
			transform: translateX(0);
		}
	}
}

//
// header
//

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 75vh;
	@include mixins.heroImages('../img/header-mini.jpg');
	color: colors.$pure-white;

	&__title {
		font-family: 'Dancing Script', sans-serif;
		font-size: 4.6rem;
	}

	&__text {
		text-align: center;
		padding: 0 2em;
		font-weight: 200;
		font-size: 1.4rem;
	}

	&__button {
		margin-top: 1em;
		padding: 0.8em 1.6em;
		border-radius: 10px;
		font-size: 1.4rem;
		background-color: colors.$pure-white;
		color: colors.$dark;
		font-weight: 200;
		cursor: pointer;
	}
}

//
// main
//

.main {
	.dreams {
		&-boxes {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 5em;
			gap: 2em;
		}

		&-box {
			display: flex;
			flex-direction: column;

			&__img {
				width: 100%;
			}

			&__title {
				font-size: 2rem;
				font-weight: bold;
				margin-top: 1em;
			}

			&__text {
				font-weight: 200;
				margin-top: 1em;
			}
		}
	}

	.hero-img {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		@include mixins.heroImages('../img/hero-mini.jpg');
		background-attachment: fixed;
		padding: 13em 2em;
		overflow: hidden;
		color: colors.$pure-white;

		&__title,
		&__text {
			text-align: center;
		}

		&__title {
			font-size: 4.8rem;
			font-family: 'Dancing Script', sans-serif;
			margin-bottom: 0.5em;
		}

		&__text {
			font-weight: 200;
			padding: 1em;
		}

		hr {
			width: 80%;
		}
	}

	.islands {
		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 2em;
			margin-top: 5em;
		}

		&__card {
			position: relative;
			height: 450px;
			width: 100%;
			color: colors.$pure-white;
			perspective: 1000px;
			text-align: center;

			&-img {
				padding: 2em;
				height: 100%;
				border-radius: 8px;
				background-size: cover;
				background-position: center;
				transition: 1s;

				&--first {
					background-image: colors.$light-blue-gradient, url('/img/island1.jpg');
				}

				&--second {
					background-image: colors.$blue-gradient, url('/img/island2.jpg');
				}

				&--third {
					background-image: colors.$purple-gradient, url('/img/island3.jpg');
				}

				&-title {
					font-family: 'Dancing Script', sans-serif;
					font-size: 3rem;
				}

				&-info {
					position: absolute;
					right: 20px;
					bottom: 20px;
				}
			}

			&-info {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: colors.$light-blue-gradient;
				padding: 2em;
				border-radius: 8px;
				opacity: 0;
				transform: rotateY(180deg);
                transition: 1s;

				&-title {
					font-family: 'Dancing Script', sans-serif;
					font-size: 3rem;
				}

				&-list {
					padding: 1em 0;
					text-align: center;
					list-style: none;

					&-item {
						padding: 1em 0;
						border-top: 1px solid colors.$pure-white;

						&:nth-child(1) {
							border-top: none;
						}
					}
				}

				&-button {
					width: 100%;
					padding: 0.8em 1.6em;
					border-radius: 10px;
					background-color: colors.$green-color;

					&::before {
						background-color: colors.$green-color-hover;
					}
				}
			}

			&:hover {
				.islands__card-img {
					opacity: 0;
					transform: rotateY(-180deg);
				}

                .islands__card-info {
                    opacity: 1;
                    transform: rotateY(0);
                }
			}
		}
	}
}

@media (min-width: 500px) {
	.main {
		.dreams {
			&-box {
				&__title {
					font-size: 2.6rem;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.main {
		.dreams {
			&-boxes {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: 5em;
				gap: 2em;
			}

			&-box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				gap: 2em;

				&__img {
					width: 45%;
				}

				&__img--right {
					order: 1;
				}

				&__content {
					width: 50%;
				}

				&__title {
					font-size: 2rem;
					font-weight: bold;
					margin-top: 1em;
				}

				&__text {
					font-weight: 200;
					margin-top: 1em;
				}

				&__text--right,
				&__title--right {
					text-align: right;
				}
			}
		}
	}
}

@media (min-width: 800px) {
	.nav {
		&__link {
			font-size: 3.6rem;
		}

		.burger-button {
			top: 50px;
			right: 50px;
		}
	}

	.header {
		@include mixins.heroImages('../img/header-big.jpg');

		&__title {
			font-size: 7.2rem;
		}

		&__text {
			font-size: 1.8rem;
		}

		&__button {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1000px) {
	.main {
		.dreams {
			&-box {
				&__title {
					font-size: 3.4rem;
				}

				&__text {
					font-size: 2rem;
				}
			}
		}

		.hero-img {
			padding: 30em 2em;
			@include mixins.heroImages('../img/hero-big.jpg');
			background-attachment: fixed;

			&__title {
				font-size: 8.2rem;
			}

			&__text {
				font-size: 2.2rem;
			}
		}
	}
}

@media (min-width: 1220px) {
	.nav {
		&__link {
			font-size: 4.2rem;
		}
	}

	.header {
		&__title {
			font-size: 10rem;
		}

		&__text {
			font-size: 2.2rem;
		}
	}
}
